{% extends "_base.html" %}

{% block content %}
    <div class="container col-xxl-10">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-10 col-lg-5">
          <img src= "{{url_for('static', filename=data.cover_filename)}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-7">
          <p class="fw-bold">{{data.book.creator}}</p>
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              {{data.book.title}}</h1>
          <p>{{data.book.author}}</p>
        </div>
      </div>
    </div>
{% endblock content %}